.register-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
  }

  &__inputs{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 43px;
  }

  &__positions-wrap {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 47px;
  }

  &__positions {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__button{
    width: max-content;
    margin: 50px auto 0;
  }
}

.after-success {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

}
