.tooltip-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  width: 100%;
}

.tooltip {
  position: fixed;
  background: #000000DE;
  color: #fff;
  padding: 3px 16px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 9999;
  max-width: 300px;
  white-space: normal;
}